* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background: #d9edf3;
	margin: 0 auto;
	font-family: poppins, sans-serif;
	font-weight: 500;
	font-style: normal;
}

header {
	width: 94%;
	margin: 0 auto;
}

p { 
	margin: 3px 0;
	font-size: 1.2rem;
	color: #3d778b;
}

h1 {
    margin: 100px auto 20px;
    text-align: center;
    color: #4089a1;
	font-size: 3rem;
}

h2 {
	text-align: center;
	color: #3f7e93;
	font-size: 1.9rem;
}

.footerh3 {
    color: #3d778b;
    font-size: 1.4rem;
	font-style: italic;
	text-align: center;
}

main.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
    max-width: 800px;
	width: 94%;
}

form {
	margin-top: 22px;
	display: flex;
	flex-direction: column;
}

label {
	font-size: 1.2rem;
	font-weight: bold;
	color: #346372;
	margin-bottom: 20px;
}

input#weather-search {
    padding: 11px 15px;
    border-radius: 20px;
    margin: 20px 2px;
	font-size: 1rem;
}

button {
    padding: 8px 20px;
    border-radius: 20px;
    background: #468499;
    color: #e8f0fe;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: 3px 5px 7px 0px #567b7c99;
    border: 0.4px solid #add8e6;
}

button:hover {
    background: #355360;
	width: 190px;
	margin: 0 auto;
}

footer {
    padding: 99px 0;
	width: 94%;
	margin: 0 auto;
}


@media (min-width: 344px) {

	input#weather-search {
		margin: 0px 2px 15px 2px;
	}

	button {
		width: 200px;	
		margin: 0 auto;
	}
}